[Unit]
Description=dgrs python service

[Service]
WorkingDirectory=/home/MQTT_MURI
ExecStart=/usr/bin/python3 /home/MQTT_MURI/backend/muri_app_main.py
Restart=always
StandardOutput=file:/home/MQTT_MURI/std.out
StandardError=file:/home/MQTT_MURI/err.out

[Install]
WantedBy=multi-user.target
