[Unit]
Description=muri app python service

[Service]
WorkingDirectory=/home/muri-mqtt
ExecStart=/usr/bin/python3 ./muri_app_main.py
Restart=always
StandardOutput=file:/home/muri-mqtt/std.out
StandardError=file:/home/muri-mqtt/err.out

[Install]
WantedBy=multi-user.target
